/* visual */
.sub-visual { position: relative; width: 100%; height: 100vh; display: flex; flex-direction: column; padding-top: 100px;}
.sub-visual .inner { padding-block: 20px;}
.sub-visual .heading { text-align: center;;}
.sub-visual .bg { flex: 1; overflow: hidden;}
.sub-visual .bg img { width: 100%; height: 100%; object-fit: cover;}

/* slogan */
.slogan { padding-block: 120px;}
.slogan .text { font-size: 40px; line-height: 1.5;}

/* about */
/* about - introduction */
.introduction .desc { font-size: 20px;}
.introduction .profile { position: relative;}
.introduction .profile .heading { padding: 60px;}
.introduction .profile .desc { padding: 60px; display: flex; align-items: flex-end; height: inherit;}
.introduction .profile img { display: block; width: 100%; height: 100%; object-fit: cover;}
.introduction .profile .profile-wrap { position: sticky; top: 100px; display: flex; height: 650px;}
.introduction .profile .profile-area { flex: 1; height: 100%; position: relative; overflow: hidden;}
.introduction .profile .profile-area:nth-of-type(2) { flex: 0 0 28%;}

.introduction .business { position: relative; height: 300vh;}
.introduction .business .inner { position: sticky; top: 0; padding: 160px 60px 60px; height: 100vh;}
.introduction .business-wrap { display: flex; gap: 60px; height: 100%;}
.introduction .business-wrap .heading { margin-bottom: 20px;}
.introduction .business-wrap .desc { overflow: hidden; padding-bottom: 60px;}
.introduction .business-area { display: flex; flex-direction: column; justify-content: flex-end;}
.introduction .business-area .img-box { overflow: hidden; padding-bottom: 45%;}
.introduction .business-area .img-box img { width: 100%; height: 100%; object-fit: cover;}

.introduction .values { position: relative; height: 200vh; color: #fff;}
.introduction .values::after { content:''; display: block; width: 100%; height: 100vh; position: sticky; bottom: 0; background: url(/images/sub/about/introduction-value-bg.jpg) no-repeat center top / cover; z-index: -1;}
.introduction .values .values-title { padding-top: 160px; margin-bottom: 100px;}
.introduction .values .values-title .heading { font-size: 80px; margin-bottom: 40px;}
.introduction .values .values-title .desc { color: #fff; line-height: 1.6;}
.introduction .values .values-content { position: sticky; top: 550px; margin-bottom: 160px;}
.introduction .values .values-list { position: absolute; bottom: 0;}
.introduction .values .values-list li { position: relative; display: flex; flex-direction: column; align-items: flex-end; overflow: hidden;}
.introduction .values .values-list li .line { transform: scale(0.5); transform-origin: right; background-color: #fff;}
.introduction .values .values-list li > div { width: 50%; padding-right: 85px;}
.introduction .values .values-list .list-title { font-size: 40px; padding: 20px 0;}
.introduction .values .values-list .list-desc { padding-bottom: 30px; padding-top: 100px;}

/* about - history */
.history { position: relative;}
.history::before { content:''; display: block; width: 1px; height: 100%; background: #000; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
.history .history-timeline:not(:nth-child(even)) { display: flex; justify-content: flex-end;}
.history .history-timeline .timeline-year { display: flex; width: 50%; padding: 120px 0;}
.history .history-timeline .timeline-year .year-label { flex: 0 0 138px; font-size: 32px; padding: 20px 0; border-bottom: 1px solid #000; height: fit-content; text-align: center;}
.history .history-timeline .timeline-year .year-items { flex: 1;}
.history .history-timeline .timeline-year figure { margin-bottom: 24px;}
.history .history-timeline .timeline-year .year-list li { display: flex; font-size: 20px;}
.history .history-timeline .timeline-year .year-list li .month { flex: 0 0 84px; padding-left: 24px; line-height: 1.9;}
.history .history-timeline .timeline-year .year-list li .text { position: relative; padding-left: 20px; line-height: 1.9; width: fit-content;}
.history .history-timeline .timeline-year .year-list li .text::before { content: ''; display: block; position: absolute; top: 16px; left: 0; width: 5px; height: 5px; border-radius: 50%; background: #000;}
.history .history-timeline .timeline-year .year-list .text-wrap { display: flex; flex-direction: column;}
.history .history-timeline:not(:nth-child(odd)) .timeline-year { flex-direction: row-reverse; text-align: right;}
.history .history-timeline:not(:nth-child(odd)) .year-list li { flex-direction: row-reverse;}
.history .history-timeline:not(:nth-child(odd)) .year-list li .month { padding-left: 0; padding-right: 24px;}
.history .history-timeline:not(:nth-child(odd)) .year-list li .text { padding-left: 0; padding-right: 20px;}
.history .history-timeline:not(:nth-child(odd)) .year-list li .text::before { left: auto; right: 0;}
.history .history-timeline:not(:nth-child(odd)) .year-list .text-wrap { align-items: flex-end;}

