/* visual */
.sub-visual { position: relative; width: 100%; height: 100vh; display: flex; flex-direction: column; padding-top: 100px; overflow: hidden;}
.sub-visual .inner { padding-block: 20px; border-bottom: 1px solid #000;}
.sub-visual .heading { text-align: center;;}
.sub-visual .bg { flex: 1; overflow: hidden;}
.sub-visual .bg img { width: 100%; height: 100%; object-fit: cover;}

/* slogan */
.slogan { padding-block: 120px;}
.slogan .text { font-size: 40px; line-height: 1.5;}

/* toggle-btn */
.toggle-btn { position: relative; width: 60px; height: 60px; background: transparent; border: none; cursor: pointer; }
.toggle-btn::before,
.toggle-btn::after { content: ''; position: absolute; top: 50%; left: 50%; width: 32px; height: 2px; background-color: #000; transition: transform 0.3s ease; }
.toggle-btn::before { transform: translate(-50%, -50%); }
.toggle-btn::after { transform: translate(-50%, -50%) rotate(90deg); }
.toggle-btn.active::after { transform: translate(-50%, -50%) rotate(0); }

/* view-info */
.view { position: relative; overflow: hidden;}
.view-info { position: relative; flex: 1; padding: 120px 0 220px; max-width: 100%;}
.view-info .title-btns { display: flex; gap: 8px; margin-left: auto;}
.view-info .title-btns a { width: 48px; height: 48px; background-repeat: no-repeat; background-position: center; background-size: auto 100%;;}
.view-info .title-btns a.btn-print { background-image: url(/images/view-info-print.svg);}
.view-info .title-btns a.btn-download { background-image: url(/images/view-info-download.svg);}
.view-info .title-btns a.btn-mail { background-image: url(/images/view-info-mail.svg);}
.view-info .title-btns a.btn-vcard { background-image: url(/images/view-info-vcard.svg);}
.view-info .info-top { display: flex; gap: 20px; margin-bottom: 60px;}
.view-info .info-area { position: relative;}
.view-info .info-area + .info-area { margin-top: 60px;}
.view-info .dropdown + .dropdown { margin-top: 60px;}
.view-info .info-desc { font-weight: 400; color: #1d1d1d; line-height: 1.7;}
.view-info .info-member { position: absolute; left: 100%; top: 0; width: max-content; padding-left: 9%; padding-top: 20px;}
.view-info .info-member .member-title { font-size: 22px; margin-bottom: 30px;}
.view-info .info-member .member-list { display: flex; flex-direction: column;}
.view-info .info-member .member-list .member-item { display: flex; align-items: center; gap: 16px;}
.view-info .info-member .member-list .member-item + .member-item { margin-top: 30px;}
.view-info .info-member .member-list .member-img { flex: 0 0 64px; aspect-ratio: 1; overflow: hidden; border-radius: 50%;}
.view-info .info-member .member-list .member-text .name { display: block;}
.view-info .info-member .member-list .member-text .position { font-size: 16px; font-weight: 400; color: #1d1d1d;}
.view-info .info-title { font-size: 22px; padding: 20px 0; border-bottom: 1px solid #bbb; margin-bottom: 20px;}
.view-info .info-title.v2 { padding-bottom: 30px; margin-bottom: 0; border: 0;}
.view-info .info-list + .info-list { margin-top: 30px;}
.view-info .info-list .list-title { font-size: 18px; font-weight: 500; margin-bottom: 4px; line-height: 1.9;}
.view-info .info-list .list-item { position: relative; padding-left: 12px; font-weight: 400; color: #1d1d1d; line-height: 1.9;}
.view-info .info-list .list-item::before { content: ''; display: block; position: absolute; top: 14px; left: 0; width: 4px; height: 4px; border-radius: 50%; background: #000;}
.view-info .info-links { display: flex; flex-wrap: wrap; gap: 10px;}
.view-info .info-links a { display: block; padding: 8px 20px; border-radius: 35px; background: #f0f2f6; font-size: 16px; transition: all 0.3s ease;}
.view-info .info-location figure { padding-bottom: 41.3%; border: 1px solid #ddd; margin-bottom: 30px;}
.view-info .location-list { display: grid; grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr)); gap: 30px;}
.view-info .location-list dt { display: flex; align-items: center; gap: 8px; font-size: 20px; margin-bottom: 20px;}
.view-info .location-list dt i { width: 24px; height: 24px;}
.view-info .location-list dd { color: #3f3f3f; padding-right: 60px;}
.view-info .view-sw { overflow: visible;}
.view-info .view-sw .swiper-slide { width: 420px;}
.view-info .board-card { height: 420px; }
.view-floationg { display: flex; position: fixed; bottom: 30px; left: 50%; transform: translateX(-50%); z-index: 9;}
.view-floationg .floationg-wrap { position: relative;}
.view-floationg .floationg-btn { display: flex; padding: 8px; border-radius: 35px; background: rgb(5,5,5,.9); filter-backdrop: blur(30px); z-index: 9; cursor: pointer;}
.view-floationg .ico-arrow-drop { width: 40px; height: 40px; background: #fff url(/images/ico-language-arrow.svg) no-repeat center/auto 15%; display: inline-block; border-radius: 50%; transform: scaleY(-1); }
.view-floationg .floationg-btn span { flex: 1; text-align: center; align-content: center; color: #fff; padding: 0 28px;}
.view-floationg .floationg-body { position: absolute; bottom: 100%; left: 50%; transform: translateX(-50%); width: fit-content; min-width: 100%; white-space: nowrap; text-align: center; background: rgb(5,5,5,.9); border-radius: 10px; margin-bottom: 10px; overflow: hidden; max-height: 0;}
.view-floationg .floationg-body .floationg-list { padding: 10px;}
.view-floationg .floationg-body a { display: block; color: #fff; padding: 5px;}
.view-floationg .floationg-prev { display: flex; align-items: center; justify-content: center; width: 56px; height: auto; border-radius: 50%; background-color: rgba(5,5,5,.9); margin-left: 8px;}
.view-floationg .floationg-btn.active .ico-arrow -drop { transform: scaleY(1);}
/* global */
.view.global { padding-left: calc(max((100vw - 900px) / 2, 5vw));}
.view.global .view-info { max-width: 900px; width: 70%;}
/* practices-view */
.practices-view { padding-left: calc(max((100vw - 900px) / 2, 5vw));}
.practices-view .view-info { max-width: 900px; width: 70%;}
@media (hover: hover) and (pointer: fine) {
  .view-info .info-links a:hover { background: #050505; color: #fff;}
}


/* about */
/* about - introduction */
.introduction .desc { font-size: 20px;}
.introduction .profile { position: relative;}
.introduction .profile .heading { padding: 60px;}
.introduction .profile .desc { padding: 60px; display: flex; align-items: flex-end; height: inherit;}
.introduction .profile img { display: block; width: 100%; height: 100%; object-fit: cover;}
.introduction .profile .profile-wrap { position: sticky; top: 100px; display: flex; height: 650px;}
.introduction .profile .profile-area { flex: 1; height: 100%; position: relative; overflow: hidden;}
.introduction .profile .profile-area:nth-of-type(2) { flex: 0 0 28%;}

.introduction .business { position: relative; height: 300vh;}
.introduction .business .inner { position: sticky; top: 0; padding: 160px 60px 60px; height: 100vh;}
.introduction .business-wrap { display: flex; gap: 60px; height: 100%;}
.introduction .business-wrap .heading { margin-bottom: 20px;}
.introduction .business-wrap .desc { overflow: hidden; padding-bottom: 60px;}
.introduction .business-area { display: flex; flex-direction: column; justify-content: flex-end;}
.introduction .business-area .img-box { overflow: hidden; padding-bottom: 45%;}
.introduction .business-area .img-box img { width: 100%; height: 100%; object-fit: cover;}

.introduction .values { position: relative; height: 200vh; color: #fff;}
.introduction .values::after { content:''; display: block; width: 100%; height: 100vh; position: sticky; bottom: 0; background: url(/images/sub/about/introduction-value-bg.jpg) no-repeat center top / cover; z-index: -1;}
.introduction .values .values-title { padding-top: 160px; margin-bottom: 100px;}
.introduction .values .values-title .heading { font-size: 80px; margin-bottom: 40px;}
.introduction .values .values-title .desc { color: #fff; line-height: 1.6;}
.introduction .values .values-content { position: sticky; top: 550px; margin-bottom: 160px;}
.introduction .values .values-list { position: absolute; bottom: 0;}
.introduction .values .values-list li { position: relative; display: flex; flex-direction: column; align-items: flex-end; overflow: hidden;}
.introduction .values .values-list li .line { transform: scale(0.5); transform-origin: right; background-color: #fff;}
.introduction .values .values-list li > div { width: 50%; padding-right: 85px;}
.introduction .values .values-list .list-title { font-size: 40px; padding: 20px 0;}
.introduction .values .values-list .list-desc { padding-bottom: 30px; padding-top: 100px; line-height: 1.7;}

/* about - history */
.history { position: relative; border-top: 1px solid #000;}
.history::before { content:''; display: block; width: 1px; height: 100%; background: #000; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
.history .history-timeline:not(:nth-child(even)) { display: flex; justify-content: flex-end;}
.history .history-timeline .timeline-year { display: flex; width: 50%; padding: 120px 0;}
.history .history-timeline .timeline-year .year-label { flex: 0 0 138px; font-size: 32px; padding: 20px 0; border-bottom: 1px solid #000; height: fit-content; text-align: center;}
.history .history-timeline .timeline-year .year-items { flex: 1;}
.history .history-timeline .timeline-year figure { margin-bottom: 24px;}
.history .history-timeline .timeline-year .year-list li { display: flex; font-size: 20px;}
.history .history-timeline .timeline-year .year-list li .month { flex: 0 0 84px; padding-left: 24px; line-height: 1.9;}
.history .history-timeline .timeline-year .year-list li .text { position: relative; padding-left: 20px; line-height: 1.9; width: fit-content;}
.history .history-timeline .timeline-year .year-list li .text::before { content: ''; display: block; position: absolute; top: 16px; left: 0; width: 5px; height: 5px; border-radius: 50%; background: #000;}
.history .history-timeline .timeline-year .year-list .text-wrap { display: flex; flex-direction: column;}
.history .history-timeline:not(:nth-child(odd)) .timeline-year { flex-direction: row-reverse; text-align: right;}
.history .history-timeline:not(:nth-child(odd)) .year-list li { flex-direction: row-reverse;}
.history .history-timeline:not(:nth-child(odd)) .year-list li .month { padding-left: 0; padding-right: 24px;}
.history .history-timeline:not(:nth-child(odd)) .year-list li .text { padding-left: 0; padding-right: 20px;}
.history .history-timeline:not(:nth-child(odd)) .year-list li .text::before { left: auto; right: 0;}
.history .history-timeline:not(:nth-child(odd)) .year-list .text-wrap { align-items: flex-end;}

/* about - awards */
.awards { position: relative; display: flex;}
.awards .sidebar { flex: 0 0 20.4%; background: #fff;}
.awards .content-wrap { flex: 1; position: relative; padding-bottom: 160px;}
.awards .content-section { padding: 50px 60px 60px; position: relative;}
.awards .content-section:first-of-type .line { display: none; }
.awards .year { font-size: 32px; margin-bottom: 40px;}
.awards .awards-list { display: grid; grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr)); gap: 60px 30px;}
.awards .awards-list figure { padding-bottom: 67%; margin-bottom: 24px; box-shadow: 0 0 0 1px #000;}
.awards .awards-list .awards-sbj { font-size: 20px; font-weight: 500; margin-bottom: 8px;}
.awards .awards-list .awards-desc { font-size: 16px; font-weight: 400; color: #1d1d1d;}

/* about - location */
.location { position: relative; padding-bottom: 160px;}
.location .location-btns { display: flex; padding: 8px; border-radius: 35px; position: fixed; bottom: 30px; left: 50%; transform: translateX(-50%); background: rgba(255,255,255,.1); filter-backdrop: blur(30px); z-index: 9; transition: background 0.3s ease;}
.location .location-btns button { padding: 6px 20px; border-radius: 35px; color: #999; display: flex; align-items: center; gap: 6px;}
.location .location-btns button .num { font-size: 12px; color: #000; background-color: rgba(255,255,255,.3); border-radius: 50%;; width: 20px; height: 20px; align-content: center; text-align: center;}
.location .location-btns button.active { background: #fff; color: #000;}
.location .location-btns button.active .num { color: #fff; background: #f32735;}
.location .location-btns.active { background: rgb(5,5,5,.9);}

.location .location-content { display: none;}
.location .location-content.active { display: block;}
.location .location-title { padding: 30px 0; display: flex; align-items: center; justify-content: space-between; gap: 20px;}
.location .location-title .heading { font-size: 32px; display: flex; align-items: center; gap: 30px;}
.location .location-title .heading .text-line { display: block; width: 1px; height: 25px; background: #000;}
.location .location-body { display: flex; flex-wrap: wrap; gap: 60px; overflow: hidden;}
.location .location-body figure,
.location .location-body .location-info { width: calc((100% - 60px) / 2);}
.location .location-body figure { padding-bottom: 34.2%;}
.location .location-body .info-title { font-size: 52px; margin-bottom: 60px;}
.location .location-body .info-list { display: grid; grid-template-columns: repeat(auto-fill, minmax(min(100%, 270px), 1fr)); gap: 60px 30px;}
.location .location-body .info-list dt { display: flex; align-items: center; gap: 8px; font-size: 20px; margin-bottom: 20px;}
.location .location-body .info-list dt i { width: 24px; height: 24px;}
.location .location-body .info-list dd { color: #3f3f3f;}

/* about - careers */
.careers-feature { position: relative; padding-bottom: 180px;}
.careers-feature .sticky { top:100px; height: 100%;}
.careers-feature .feature-area { display: flex; gap: 60px; width: 100%; padding: 60px; border-top: 1px solid #000; overflow: hidden; position: sticky; top: 100px; background: #fff;}
.careers-feature .feature-area:nth-child(1) { margin-bottom: 180px;}
.careers-feature .feature-area:nth-child(2) { top: 280px;}
.careers-feature .feature-area:nth-child(3) { top: 460px; margin-bottom: -180px;}
.careers-feature .feature-text { flex: 1;}
.careers-feature .feature-text .feature-title { display: flex; font-size: 52px; margin-bottom: 50px;}
.careers-feature .feature-text .feature-title .num-tag { font-size: 24px; margin-right: 8px;}
.careers-feature .feature-text .feature-desc { font-size: 20px; padding-left: 25px;}
.careers-feature .feature-text .feature-list { padding-left: 10px; margin-bottom: 40px;}
.careers-feature .feature-text .feature-list li { position: relative; padding-left: 15px; width: fit-content; font-size: 20px; line-height: 1.65;}
.careers-feature .feature-text .feature-list li::before { content: ''; display: block; position: absolute; top: 13px; left: 0; width: 4px; height: 4px; border-radius: 50%; background: #000;}
.careers-feature figure { flex: 0 0 42.6%; padding-bottom: 29.1%;}

.careers-corporation { position: relative; padding-block: 120px 160px}
.careers-corporation .heading { font-size: 80px; margin-bottom: 60px;}
.careers-corporation .corporation-wrap { display: grid; grid-template-rows: 1fr; grid-template-columns: repeat(auto-fill, minmax(min(100%, 560px), 1fr)); gap: 60px;}
.careers-corporation .corporation-area { padding: 60px; display: flex; flex-direction: column; background: #f0f2f6; }
.careers-corporation .corporation-title { font-size: 52px; margin-bottom: 80px; display: flex;}
.careers-corporation .corporation-title .btn-download { margin-left: auto; font-size: 18px; padding: 17px 20px; background: #fff; border: 1px solid #bbb; height: fit-content; display: flex; gap: 60px; align-items: center;}
.careers-corporation .corporation-desc { font-size: 20px; margin-bottom: 60px;}
.careers-corporation .corporation-group { display: flex; gap: 24px; margin-top: auto;}
.careers-corporation .corporation-list { flex: 1; margin-top: auto;}
.careers-corporation .corporation-list li { font-size: 20px; display: flex; padding: 22px 0; border-bottom: 1px solid #000;}
.careers-corporation .corporation-list li:first-child { border-top: 1px solid #000;}
.careers-corporation .corporation-list li span.num { margin-left: auto; line-height: inherit;}
.careers-corporation .corporation-list li span.text { position: relative; padding-left: 17px; font-size: inherit; line-height: inherit; flex: 0 0 217px;}
.careers-corporation .corporation-list li span.text:before { content: ''; display: block; position: absolute; top: 10px; left: 0; width: 7px; height: 7px; border-radius: 50%; background: #F32735;}
.careers-corporation .corporation-list li span.desc { line-height: inherit;}
.careers-corporation .corporation-line { flex: 0 0 6px; background: url(/images/sub/about/careers-corporation-line.png) no-repeat top /auto 100%;}

.careers-corporation .corporation-area.active { background: #050505; color: #fff; transition: all 0.3s ease;}
.careers-corporation .corporation-area.active a { color: #fff;}
.careers-corporation .corporation-area.active .corporation-title .btn-download { border-color: #fff; background: #000; transition: all 0.3s ease;}
.careers-corporation .corporation-area.active .corporation-title .btn-download i { filter: invert(1); transition: all 0.3s ease;}
.careers-corporation .corporation-area.active .corporation-list li { border-color: #fff; transition: all 0.3s ease;}
.careers-corporation .corporation-area.active .corporation-list span.desc { color: #fff; transition: all 0.3s ease;}
.careers-corporation .corporation-area.active .corporation-line { filter: invert(1); transition: all 0.3s ease;}

.careers-corporation .corporation-group .corporation-list span.text,
.careers-corporation .corporation-group .corporation-list span.num { opacity: 0.3; transition: all 0.5s ease;}
.careers-corporation .corporation-group .corporation-list li span.text:before { background: rgba(255,255,255,.3); transition: all 0.5s ease;}
.careers-corporation .corporation-group .corporation-list li.active span.text,
.careers-corporation .corporation-group .corporation-list li.active span.num { opacity: 1;}
.careers-corporation .corporation-group .corporation-list li.active span.text::before { background: #F32735;}

/* practices */
.practices { padding: 95px 0 220px;}
.practices .inner { max-width: 1540px; width: 90%; padding: 0; margin: 0 auto;}
.practices-search { position: relative; margin-bottom: 80px;}
.practices-search .search-box { max-width: 762px; height: 100%; display: flex; margin: 0 auto;}
.practices-search .search-box input, .practices-search .search-box button { height: 68px; background: #fff; border-bottom: 1px solid #000; color: #000;}
.practices-search .search-box input { padding: 23px 0px; border-radius: 0; font-size: 20px; font-weight: 500; width: 100%; border-left: none; border-right: none; border-top: none; }
.practices-search .search-box input:focus { outline: none;}
.practices-search .search-box input::placeholder { color: #888;}
.practices-search .search-box button { width: 60px; height: auto; padding: 20px; background-repeat: no-repeat; background-size: auto 36%; background-position: right center; background-image: url(/images/ico-search.svg); border-radius: 0; border-left: none; }
.practices-search .search-result { display: none; padding: 60px 60px 80px; border-bottom: 1px solid #bbb; text-align: center; font-size: 20px; color: #888;}
.practices-search .search-result p { margin-bottom: 40px;}
.practices-search .search-result p > span { color: #000; vertical-align: baseline;}
.practices-search .search-result.active { display: block;}
.practices-categories { display: flex; gap: 60px; margin: 0 auto 80px; justify-content: center; }
.practices-categories button { font-size: 28px; opacity: .4;}
.practices-categories button.active { opacity: 1;}
.practices-list { display: none; grid-template-columns: repeat(auto-fill, minmax(min(100%, 500px), 1fr)); gap: 30px;}
.practices-list.active { display: grid;}
.practices-list .practices-item a { position: relative; display: flex; justify-content: space-between; align-items: center; padding: 20px; padding: 30px; background: #f0f2f6; font-size: 24px; transition: all 0.3s ease;}
.practices-list .practices-item a::before { content: ''; display: block; position: absolute; top: 50%; right: 30px; transform: translateY(-50%); width: 36px; height: 36px; background: url(/images/ico-arrow-right.svg) no-repeat center / auto 100%;}
@media (hover: hover) and (pointer: fine) {
  .practices-list .practices-item a:hover { background: #050505; color: #fff;}
  .practices-list .practices-item a:hover::before { filter: invert(1);}
}

/* professionals */
.professionals { padding: 120px 0 220px;}
.professionals .inner { max-width: 1540px; width: 90%; padding: 0; margin: 0 auto;}
.professionals .professionals-tabs { display: flex; justify-content: center; margin-bottom: 80px;}
.professionals .professionals-tabs li a { padding: 0 30px; font-size: 28px; opacity: .4;}
.professionals .professionals-tabs li a.active { opacity: 1;}
.professionals .professionals-list { display: grid; grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr)); grid-template-rows: 1fr; gap: 80px 30px; margin-bottom: 80px;}
.professionals .professionals-list .professionals-item { border: 1px solid #bbb;}
.professionals .professionals-list figure { padding-bottom: 95%; border-bottom: 1px solid #bbb;}
.professionals .professionals-list .professionals-info { padding: 20px; display: flex; justify-content: space-between; align-items: flex-start; gap: 20px 5px;}
.professionals .professionals-list .professionals-name { font-size: 24px; margin-bottom: 9px;}
.professionals .professionals-list .professionals-position { font-weight: 400; font-size: 18px; color: #1D1D1D;}
.professionals .professionals-list .professionals-position span { position: relative; margin-right: 16px;}
.professionals .professionals-list .professionals-position span:not(:first-child)::before { content: ''; display: block; position: absolute; top: 3px; left: -10px; width: 1px; height: 16px; background: #bbb;}
.professionals .professionals-list .professionals-email { width: 48px; aspect-ratio: 1; background: #F5F5F5 url(/images/ico-email.svg) no-repeat center/ auto 50%; border-radius: 50%;}

/* professionals-view */
.professionals-view { padding-bottom: 220px; padding-top: 100px; position: relative;}
.professionals-view .view-section { display: flex; position: relative;}
.professionals-view .view-section:last-child { overflow: hidden;}
.professionals-view .sidebar { flex: 0 0 37.2%; padding: 0; background: transparent;}
.professionals-view .sidebar .sticky { top: 100px;}
.professionals-view .sidebar-view-info { padding: 20px 30px;}
.professionals-view .sidebar-view figure { padding-bottom: 87.7%;}
.professionals-view .sidebar-view-title { display: flex; align-items: center; justify-content: space-between; align-items: center; flex-wrap: wrap; margin-bottom: 12px;}
.professionals-view .sidebar-view-title .heading { font-size: 40px;}
.professionals-view .sidebar-view-position span { position: relative; display: inline-block;}
.professionals-view .sidebar-view-position span:not(:first-child) { margin-left: 16px;}
.professionals-view .sidebar-view-position span:not(:first-child)::before { content: ''; display: block; position: absolute; left: -10px; top: 2px; width: 1px; height: 18px; background: #bbb;}
.professionals-view .view-address-item { display: flex; gap: 4px; }
.professionals-view .view-address-item + .view-address-item { margin-top: 5px;}
.professionals-view .view-address-item dd { font-weight: 400; color: #1d1d1d;}
.professionals-view .view-info { padding: 40px 60px 0px;}
.professionals-view .view-info .info-top { align-items: center; position: sticky; top: 100px; padding: 20px 0; background: #fff; z-index: 1; margin-bottom: 0px;}
.professionals-view .view-info .info-content .info-area:first-child { margin-top: 40px;}
.professionals-view .view-info .info-content .info-area:last-child { padding-bottom: 120px;}
.professionals-view .view-info .title-scroll { display: flex; gap: 20px;}
.professionals-view .view-info .title-scroll button { opacity: .4;}
.professionals-view .view-info .title-scroll button.active { opacity: 1;} 