/* visual */
.sub-visual { position: relative; width: 100%; height: 100vh; display: flex; flex-direction: column; padding-top: 100px; overflow: hidden;}
.sub-visual .inner { padding-block: 20px;}
.sub-visual .heading { text-align: center;;}
.sub-visual .bg { flex: 1; overflow: hidden;}
.sub-visual .bg img { width: 100%; height: 100%; object-fit: cover;}

/* slogan */
.slogan { padding-block: 120px;}
.slogan .text { font-size: 40px; line-height: 1.5;}

/* toggle-btn */
.toggle-btn { position: relative; width: 60px; height: 60px; background: transparent; border: none; cursor: pointer; }
.toggle-btn::before,
.toggle-btn::after { content: ''; position: absolute; top: 50%; left: 50%; width: 32px; height: 2px; background-color: #000; transition: transform 0.3s ease; }
.toggle-btn::before { transform: translate(-50%, -50%); }
.toggle-btn::after { transform: translate(-50%, -50%) rotate(90deg); }
.toggle-btn.active::after { transform: translate(-50%, -50%) rotate(0); }

/* about */
/* about - introduction */
.introduction .desc { font-size: 20px;}
.introduction .profile { position: relative;}
.introduction .profile .heading { padding: 60px;}
.introduction .profile .desc { padding: 60px; display: flex; align-items: flex-end; height: inherit;}
.introduction .profile img { display: block; width: 100%; height: 100%; object-fit: cover;}
.introduction .profile .profile-wrap { position: sticky; top: 100px; display: flex; height: 650px;}
.introduction .profile .profile-area { flex: 1; height: 100%; position: relative; overflow: hidden;}
.introduction .profile .profile-area:nth-of-type(2) { flex: 0 0 28%;}

.introduction .business { position: relative; height: 300vh;}
.introduction .business .inner { position: sticky; top: 0; padding: 160px 60px 60px; height: 100vh;}
.introduction .business-wrap { display: flex; gap: 60px; height: 100%;}
.introduction .business-wrap .heading { margin-bottom: 20px;}
.introduction .business-wrap .desc { overflow: hidden; padding-bottom: 60px;}
.introduction .business-area { display: flex; flex-direction: column; justify-content: flex-end;}
.introduction .business-area .img-box { overflow: hidden; padding-bottom: 45%;}
.introduction .business-area .img-box img { width: 100%; height: 100%; object-fit: cover;}

.introduction .values { position: relative; height: 200vh; color: #fff;}
.introduction .values::after { content:''; display: block; width: 100%; height: 100vh; position: sticky; bottom: 0; background: url(/images/sub/about/introduction-value-bg.jpg) no-repeat center top / cover; z-index: -1;}
.introduction .values .values-title { padding-top: 160px; margin-bottom: 100px;}
.introduction .values .values-title .heading { font-size: 80px; margin-bottom: 40px;}
.introduction .values .values-title .desc { color: #fff; line-height: 1.6;}
.introduction .values .values-content { position: sticky; top: 550px; margin-bottom: 160px;}
.introduction .values .values-list { position: absolute; bottom: 0;}
.introduction .values .values-list li { position: relative; display: flex; flex-direction: column; align-items: flex-end; overflow: hidden;}
.introduction .values .values-list li .line { transform: scale(0.5); transform-origin: right; background-color: #fff;}
.introduction .values .values-list li > div { width: 50%; padding-right: 85px;}
.introduction .values .values-list .list-title { font-size: 40px; padding: 20px 0;}
.introduction .values .values-list .list-desc { padding-bottom: 30px; padding-top: 100px;}

/* about - history */
.history { position: relative;}
.history::before { content:''; display: block; width: 1px; height: 100%; background: #000; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
.history .history-timeline:not(:nth-child(even)) { display: flex; justify-content: flex-end;}
.history .history-timeline .timeline-year { display: flex; width: 50%; padding: 120px 0;}
.history .history-timeline .timeline-year .year-label { flex: 0 0 138px; font-size: 32px; padding: 20px 0; border-bottom: 1px solid #000; height: fit-content; text-align: center;}
.history .history-timeline .timeline-year .year-items { flex: 1;}
.history .history-timeline .timeline-year figure { margin-bottom: 24px;}
.history .history-timeline .timeline-year .year-list li { display: flex; font-size: 20px;}
.history .history-timeline .timeline-year .year-list li .month { flex: 0 0 84px; padding-left: 24px; line-height: 1.9;}
.history .history-timeline .timeline-year .year-list li .text { position: relative; padding-left: 20px; line-height: 1.9; width: fit-content;}
.history .history-timeline .timeline-year .year-list li .text::before { content: ''; display: block; position: absolute; top: 16px; left: 0; width: 5px; height: 5px; border-radius: 50%; background: #000;}
.history .history-timeline .timeline-year .year-list .text-wrap { display: flex; flex-direction: column;}
.history .history-timeline:not(:nth-child(odd)) .timeline-year { flex-direction: row-reverse; text-align: right;}
.history .history-timeline:not(:nth-child(odd)) .year-list li { flex-direction: row-reverse;}
.history .history-timeline:not(:nth-child(odd)) .year-list li .month { padding-left: 0; padding-right: 24px;}
.history .history-timeline:not(:nth-child(odd)) .year-list li .text { padding-left: 0; padding-right: 20px;}
.history .history-timeline:not(:nth-child(odd)) .year-list li .text::before { left: auto; right: 0;}
.history .history-timeline:not(:nth-child(odd)) .year-list .text-wrap { align-items: flex-end;}

/* about - awards */
.awards { position: relative; display: flex;}
.awards .sidebar { flex: 0 0 20.4%; background: #fff;}
.awards .content-wrap { flex: 1; position: relative; padding-bottom: 160px;}
.awards .content-section { padding: 50px 60px 60px; position: relative;}
.awards .content-section:first-of-type .line { display: none; }
.awards .year { font-size: 32px; margin-bottom: 40px;}
.awards .awards-list { display: grid; grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr)); gap: 60px 30px;}
.awards .awards-list figure { padding-bottom: 67%; margin-bottom: 24px; box-shadow: 0 0 0 1px #000;}
.awards .awards-list .awards-sbj { font-size: 20px; font-weight: 500; margin-bottom: 8px;}
.awards .awards-list .awards-desc { font-size: 16px; font-weight: 400; color: #1d1d1d;}

/* about - location */
.location { position: relative; padding-bottom: 160px;}
.location .location-btns { display: flex; padding: 8px; border-radius: 35px; position: fixed; bottom: 30px; left: 50%; transform: translateX(-50%); background: rgba(255,255,255,.1); filter-backdrop: blur(30px); z-index: 9; transition: background 0.3s ease;}
.location .location-btns button { padding: 6px 20px; border-radius: 35px; color: #999; display: flex; align-items: center; gap: 6px;}
.location .location-btns button .num { font-size: 12px; color: #000; background-color: rgba(255,255,255,.3); border-radius: 50%;; width: 20px; height: 20px; align-content: center; text-align: center;}
.location .location-btns button.active { background: #fff; color: #000;}
.location .location-btns button.active .num { color: #fff; background: #f32735;}
.location .location-btns.active { background: rgb(5,5,5,.9);}

.location .location-content { display: none;}
.location .location-content.active { display: block;}
.location .location-title { padding: 30px 0; display: flex; align-items: center; justify-content: space-between; gap: 20px;}
.location .location-title .heading { font-size: 32px; display: flex; align-items: center; gap: 30px;}
.location .location-title .heading .text-line { display: block; width: 1px; height: 25px; background: #000;}
.location .location-body { display: flex; flex-wrap: wrap; gap: 60px; overflow: hidden;}
.location .location-body figure,
.location .location-body .location-info { width: calc((100% - 60px) / 2);}
.location .location-body figure { padding-bottom: 34.2%;}
.location .location-body .info-title { font-size: 52px; margin-bottom: 60px;}
.location .location-body .info-list { display: grid; grid-template-columns: repeat(auto-fill, minmax(min(100%, 270px), 1fr)); gap: 60px 30px;}
.location .location-body .info-list dt { display: flex; align-items: center; gap: 8px; font-size: 20px; margin-bottom: 20px;}
.location .location-body .info-list dt i { width: 24px; height: 24px;}
.location .location-body .info-list dd { color: #3f3f3f;}

